.statistics {
  background-color: $color-yellow;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__single {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 55px;
    margin: 10px;
  }

  h2 {
    margin: 10px;
  }

  &__description {
    margin: 10px;
  }
}

