.mobileHome {
  display: flex;
  flex-direction: column;
  background-color: #5E5322;

  &__header {
    background-color: $color-mobile-blue;
  }

  &__main {
    background-color: $color-mobile-grey;
  }

  &__footer {
    background-color: $color-mobile-blue;
  }
}

